* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    color: rgb(165, 171, 204);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

s {
    filter: brightness(60%) opacity(50%);
}

b {
    filter: brightness(120%);
}

p {
    color: rgb(165, 171, 204);
    margin-left: 5%;
    font-size: large;
}

#next-button {
    text-align: center;
    position: fixed;
    transform: translateX(-50%) scale(200%);
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: #00000094 2px 2px 9px 1px;
    transition: transform .5s, box-shadow .5s;
    cursor: pointer;
}

#next-button:hover {
    box-shadow: none;
    transform: translateX(-50%) scale(200%) translate(2px, 2px);
}

#next-button:active {
    box-shadow: inset #00000094 2px 2px 9px 1px;
    transform: translateX(-50%) scale(200%) translate(4px, 4px);
}

#container {
    position: absolute;
    left: 50vw;
    top: 1vh;
    transform: translateX(-50%);
    border-radius: 6px;
    outline: 3px solid black;
    min-height: calc(98vh - 12px);
    height: fit-content;
    width: min(90vw, 50vmax);
    margin: 0;
    padding: 5px;
    background: rgba(39, 67, 109, 0.726);
}
h1 {
    text-align: center;
}
html {
    background-image: url("background.svg");
    background-repeat: repeat;
    background-size: 25%;
}

.next-item {
    opacity: 0%;
    transition: opacity 1.5s;
    display: none;
}

#mobile-user-detected {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    outline: 3px solid black;
    height: fit-content;
    padding: 5px;
    background: rgba(39, 67, 109, 0.911);
    width: 90vmin;
    height: 80vmin;
    border-radius: 10vw;
}

#mobile-user-detected p {
    font-size: x-large;
}


#mobile-user-detected h1 {
    font-size: xx-large;
}
#mobile-user-detected img {
    height: 75%;
}

@media (hover: hover) and (pointer: fine) {
    #mobile-user-detected {
        display: none;
    }
}
@media not ((hover: hover) and (pointer: fine)) {
    #container, #next-button {
        display: none!important;
    }
}