* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
    color: rgb(165, 171, 204);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#next-button {
    text-align: center;
    position: fixed;
    transform: translateX(-50%) scale(200%);
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: #00000094 2px 2px 9px 1px;
    transition: transform .5s, box-shadow .5s;
    cursor: pointer;
}

#next-button:hover {
    box-shadow: none;
    transform: translateX(-50%) scale(200%) translate(2px, 2px);
}

#next-button:active {
    box-shadow: inset #00000094 2px 2px 9px 1px;
    transform: translateX(-50%) scale(200%) translate(4px, 4px);
}

#container {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 6px;
    border: 3px solid black;
    top: 4px;
    bottom: 4px;
    width: min(90vw, 50vmax);
    padding: 5px;
    background: rgba(39, 67, 109, 0.432);
}
h1 {
    text-align: center;
}
html {
    background-image: url("background.svg");
    background-repeat: repeat;
    background-size: 25%;
    animation: backgroundLoop infinite linear 5s;
}
@keyframes backgroundLoop {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -100% 100%;
    }
}